<html>
    <head>
        <title>
            My HTML Page
        </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link rel="stylesheet" href="./css/index.css">
        <style>

        </style>
    </head>
    <body >
        <div class = "container">
            <div class = "navbar">
                <img src = "./assets/logoNew.png" width="200" height="150" class="logo"/>

                <ul>
                    <li><a href="#">Review</a></li>
                    <li><a href="#">Destination</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
                <div class="navbar-login">
                    
                    <button class="signup-button">Sign Up</button>

                </div>
            </div>
            <div class="banner">
                <div class="left-column">

                    <div>
                        <h1>LIFE IS <span>SHORT </span>AND WORLD IS <span> WIDE</span></h1>
                        <p>Nam vel diam tortor. Nulla a sem non est maximus condimentum eu quis mauris.</p>
                        <div class="btn">
                            <button type="button" class="first-btn">Plan a Trip</button>
                            <button type="button" class="second-btn">Play Video</button>
                        </div>
                    </div>
                    
                </div>
                <div class="right-column">
                    <img src="./assets/animal.png" class="animal-img"/>
                    <img src="./assets/traveller.png" class="traveller-img" />
                </div>

            </div>
            <div class="footer">
                <a href="#"><div>
                    <h2>What Excites you most?</h2>
                    <h4>Build Your Brighter Future Courselog Kindergarten </h4>
                </div></a>
                <a href="#"><div class="second-div">
                    <img src="./assets/trackingimg.png" width="50" height="50" />
                    <div>
                        <h2>Tracking</h2>
                        <h4>Donec vitae dolor it enim. Vestibul </h4>
                    </div>
                    
                </div></a>
                <a href="#"><div class="second-div">
                    <img src="./assets/windimg.png" width="50" height="50" />
                    <div>
                        <h2>WindSurfing</h2>
                        <h4>Donec vitae dolor it enim. Vestibul </h4>
                    </div>
                    
                </div></a>
                <a href="#"><div class="second-div">
                    <img src="./assets/raftingnew.png" width="70" height="70" />
                    <div>
                        <h2>Rafting</h2>
                        <h4>Donec vitae dolor it enim. Vestibul </h4>
                    </div>
                    
                </div></a>

            </div>
            
        </div>
    </body>
</html>